EDGAR/recording_audio/Output/
/live_audio/
/mfcc-outputs/
/.vscode/
/CSC450/data/
/CSC450/data/ALL
file_list_stretched_no_xxx.npy
label_list_stretched_no_xxx.npy
/metrics_stretched_no_xxx/
*.xml
/numpy_output/*
/__pycache__/
/model/