EDGAR/recording_audio/Output/
/mfcc-outputs/
/.vscode/
/CSC450/data/
/CSC450/data/ALL
file_list_stretched_no_xxx.npy
label_list_stretched_no_xxx.npy
/metrics_stretched_no_xxx/
*.xml
/numpy_output/*
/__pycache__/
/model/
/functions/__pycache__/
/pytorchTutorial/*
/.idea/
/.vscode/
/__pycache__/